@media screen and (min-width: 700px) {

    header {
        max-width: 1000px;
        width: 90%;
        margin: 20px auto;
    }

    #menuButton {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 25px;
    }

    main {
        max-width: 1000px;
        width: 90%;
        margin: 0 auto;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    figure img {
        width: 100%;
        height: 220px;
        object-fit: cover;
    }

    footer {
        max-width: 1000px;
        width: 90%;
        margin: 20px auto;
    }
}